* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

*::before {
    box-sizing: border-box;
}

#html {
    word-break: break-all;
}

#div1 {
    position: fixed;
    left: 50%;
    top: 20px;
}

#div1::before {
    content: '';
    display: block;

}

#div1::after {
    content: '';
    display: block;

}

@keyframes abc {
	0% {
	transform:rotate(0);
	
}
50% {
	transform:rotate(900deg);
	
}
100% {
	transform:rotate(1800deg)
}
}


@media(max-width:500px) {
    #html {
        height: 60vh;
        overflow: auto;

    }

    #div1 {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    #div1Wrapper {
        height: 40vh;

    }

}